<h5><i class="fas fa-phone"></i> {{ Model.DisplayText }}</h5>
<div class="contact-info">
    <p><i class="fas fa-building"></i> <strong>{{ Model.CompanyName.Text }}</strong></p>
    <p><i class="fas fa-map-marker-alt"></i> {{ Model.Address.Text }}</p>
    <p><i class="fas fa-phone"></i> {{ Model.Phone.Text }}</p>
    <p><i class="fas fa-envelope"></i> 
        <a href="mailto:{{ Model.Email.Text }}" class="text-white">{{ Model.Email.Text }}</a>
    </p>
</div>
